.lay_background{position:absolute;position:fixed;left:0;top:0;z-index:-1;overflow:hidden}
.lay_background .lay_background_img{position:absolute;left:0;top:0;z-index:-1}
.lay_background .lay_background_img{opacity:0;-webkit-transition:opacity .8s ease;-moz-transition:opacity .8s ease;transition:opacity .8s ease}
.lay_background .lay_background_img_fade_out{opacity:1}

body {
    padding:40px;
}

div#main {
    width:60%;
    margin:auto;
}

div#article {
    margin:20px;
}

#article img{
    box-shadow:0px 0px 5px #000;
}

textarea{
    min-width:720px;
    max-width:720px;
    min-height:300px;
    max-height:300px;
}

a#add{
    float:right;
    visibility:hidden;
}

a#add2{

    visibility:hidden;
}

td#addanime:hover a#add2{
    visibility:visible;
}

th#addanime:hover a#add2{
    visibility:visible;
}

td#addanime:hover a#add {
    visibility:visible;
}

th#addanime:hover a#add{
    visibility:visible;
}
a {
    color:#FFF;
    -webkit-transition:color 500ms;
    -moz-transition:color 500ms;
    transition:color 500ms;
    text-shadow:0px 0px 5px #000;
}

h1, h2, h3, h6{
    text-shadow:0px 0px 5px #000;
    font-weight:100;
}

a:hover {
    color:#0088cc;
}

body {
    background-color: #F1F1F1;
    /*background-image: url(/static/img/bg2.jpg);*/
    background-attachment: fixed;
    color:#FFF;
    font-family:Tahoma, Helvetica, "Microsoft Yahei", "Î¢ÈíÑÅºÚ", Arial, STHeiti;
    _font-family:Tahoma,Arial,Helvetica,STHeiti;
}
.table {
    color:#000;
    background:#FFF;
    opacity:0.7;
}

.table a, .modal a{
    text-shadow:0px 0px 0px #FFF;
    color:#0088cc;
}

.navbar-search {
    opacity:0.8;
}

div#myDiv {
    opacity:0.7;
    background:#FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#myDiv table{
    opacity:1;
}

.help {
    padding:20px;
    color:#000;
    opacity:0.8;
    background:#FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.help a {
    color:#0088cc;
    text-shadow:0px 0px 0px #FFF;
}

.help h3 {
    text-shadow:0px 0px 0px #FFF;
}